* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all .3s;
}
body {
  background-color: pink;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.container {
  position: relative;
  font-size: 16px;
  background: rgb(220, 134, 148);
  width: 90vw;
  max-width: 600px;
  margin: 20px auto;
  padding: 40px;
  border-radius: 0.6em;
  box-shadow: 25px 25px 300px rgb(145, 72, 83),
  -25px -25px 300px rgb(132, 77, 85);
}

#options-container {
  text-align: center;
}

#options-container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 25px 0;
}

#options-container button {
  padding: 3px 19px;
  border: 3px solid #000000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px
}

#options-container button:disabled {
  border: 3px solid #808080;
  color: #808080;
  background-color: #efefef;
}

#options-container button.active {
  background-color: #f4c531;
  border: 3px solid #000000;
  color: #000000;
}

.letter-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
#letter-container button {
  height: 38px;
  width: 38px;
  border-radius: 5px;
  background-color: #ffffff;
}

.new-game-popup {
  background-color: #350707;
  position: absolute;
  left: 60px;
  top: 0;
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.6em;
  color: #efefef;
  box-shadow: 0 30px 20px #000;
}

#user-input-section {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin: 10px 0 18px 0;
}
canvas {
  display: block;
  margin: auto;
  border: 1px solid #000000;
}
.hide {
  display: none;
}
#result-text h2 {
  font-size: 28px;
  text-align: center;
}
#result-text p {
  font-size: 20px;
  margin: 16px 0 32px 0;
}
#result-text span {
  font-weight: 600;
}
#new-game-button {
  font-size: 20px;
  padding: 8px 16;
  background-color: #f4c531;
  border: 3px solid #000000;
  color: #000000;
  border-radius: 5px;
}
.win-msg {
  color: #39d78d;
}
.lose-msg {
  color: #fe5152;
}